<h2>Burgers to Devour</h2>
<ul>
  {{#each burgerToEat}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}}

      <button data-burgerid="{{this.id}}" class="devour">Devour it!</button>
    </p>
  </li>
  {{/each}}
</ul>
<h2>Devoured Burgers</h2>
<ul>
  {{#each devouredBurgers}}
  <li>
    <p>
      {{this.id}}. {{this.burger_name}}

      <button data-burgerid="{{this.id}}" class="devour">Devour it!</button>
    </p>
  </li>
  {{/each}}
</ul>

<script>
    $(document).ready(function() {
    $('.devour').on('click', function(event) {
        const id = $(this).data('burgerid');
        console.log(id);
        $.ajax('/api/devour/' + id, {type: 'DELETE'}).then(function() {
            
        })
        location.reload(true);
    })
    })

</script>