<main class="my-2 mx-5">

  <div class="jumbotron text-center">
    <h1 class="display-4 mb-2">Eat Da Burger</h1>
    <img src="assets/images/burger.png" alt="clip art of a burger" class="rounded">
    <hr class="my-4">
    <form>
      <label class="mx-3" for="burger-name">Add New Burger</label>
      <div class="input-group mx-3">

        <input type="text" class="form-control" placeholder="New Burger" aria-label="burger type"
          aria-describedby="addBurger" id="burger-name" name="burger-name">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit" id="addBurger">Add</button>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col-12">
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h2>Burgers to Devour</h2>
      <ul class="list-group">
        {{#each burgerToEat}}
        <li class="list-group-item">
          <p>
            {{this.id}}. {{this.burger_name}}
            <button data-burgerid="{{this.id}}" type="button" class="devour btn btn-danger float-right">Devour
              it!</button>
          </p>

        </li>
        {{/each}}
      </ul>
    </div>
    <div class="col-md-6">
      <h2>Devoured Burgers</h2>
      <ul class="list-group">
        {{#each devouredBurgers}}
        <li class="list-group-item">
          <p>
            {{this.id}}. {{this.burger_name}}
          </p>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</main>



